---
import BaseHead from '../components/base-head.astro';
import Header from '../components/header.astro';
import Main from '../components/main.astro';
import Footer from '../components/footer.astro';
import { toHumanReadableDate, toIsoString } from '../lib/utils/date-helpers';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;

const humanReadableDate = pubDate ? toHumanReadableDate(pubDate) : undefined;
const isoString = pubDate ? toIsoString(pubDate) : undefined;
---

<html lang="en-AU">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<Main>
			<article>
				<a
					href={Astro.url}
					class="font-display text-5xl uppercase text-green-dark not-prose leading-[1.25]"
				>
					<h1>{title}</h1>
				</a>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				{
					pubDate && (
						<time datetime={isoString} class="sr-only">
							{humanReadableDate}
						</time>
					)
				}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<slot />
			</article>
		</Main>
		<Footer />
	</body>
</html>
